.button {
  background-color: white;
  align-items: center;
  border: 2px solid #7ea6dc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  width: 100px;
}

.button:active {
  transform: translateY(-1px);
}

.button:disabled {
  opacity: 0.3;
}






